body {
  margin: 0px;
  padding: 0px;
}

#container {
  margin: 0 auto;
  width: 960px;
  height: 600px;
}

canvas {
  border: 1px solid #9C9898;
}

#text_content {
  width: 600px;
}

#text_content span {
  float: left;
  margin-right: 4px;
  white-space: nowrap;
}

#text_content span.current {
  text-decoration: underline;
  color: green;
}

#text_content span.error {
  color: red;
}

